<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924291904930-tolbcj39qdrsjbktv4eehpdgidkooc4l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924291904930-tolbcj39qdrsjbktv4eehpdgidkooc4l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>924291904930-i8o5452o0s8bamh065srh0ma5a8i3d3n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDfwMNsOyh3q4mkt3EubPqD7DtxMY-T2jE</string>
	<key>GCM_SENDER_ID</key>
	<string>924291904930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.tienngay.customers</string>
	<key>PROJECT_ID</key>
	<string>vfc-kh</string>
	<key>STORAGE_BUCKET</key>
	<string>vfc-kh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924291904930:ios:0845de67c555ef5e4aaefb</string>
	<key>DATABASE_URL</key>
	<string>https://vfc-kh.firebaseio.com</string>
</dict>
</plist>
